RewriteEngine on
RewriteBase /~stefan

RewriteRule ^playlist$ playlist.php [L]
RewriteRule ^status$ status.php [L]
RewriteRule ^remove$ remove.php [L]
RewriteRule ^search$ search.php [L]
RewriteRule ^queue$ queue.php [L]
RewriteRule ^control$ control.php [L]
RewriteRule ^disabled$ disabled.php [L]
RewriteRule ^disabled/status$ disabled.php?json=1 [L]
